body {
    background-image: url("pictures/logo for box png.png");
    color: #0051ff;
    font-family: 'Courier New', monospace;
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

#data-card {
    border: 2px solid #007cf0;
    padding: 20px;
    border-radius: 20px;
    background: #252525;
    box-shadow: 0 0 15px rgba(11, 202, 228, 0.479);
}
.status-indicator {
    margin-top: 20px;
    font-size: 1.2em;
    color: #06dce4;
}